body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}
ion-icon {
  pointer-events: none;
 }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#lwv_root>h1{
  font-size: calc(20px + .7vw);
}
#lwv_root>h2,h3{
  font-size: calc(15px + .5vw);
}
#lwv_root>h4,h5,h6{
  font-size: calc(13px + .3vw);
}

.lwvrep_App{
  display:flex;
  flex-direction: row;
  width:100%;
}
#lwvrep_selection_wrappers{
  padding:10px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

#lwvrep_reps{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lwvrep_card{
  display:flex;
  flex-direction: column;
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: .5rem;
  margin: 1rem auto;
  width:90%;
  justify-content: space-between;
}

#lwvrep_half {
  max-height: 12vh;
}
.lwvrep_icon{
  display:flex;
  flex-direction:row;
}
.lwvrep_name_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width:100%;
  align-items:center;
}
.lwvrep_name_wrapper > h3{
  display: flex;
  width:100%;
  justify-content: space-between;
}
#lwvrep_name{
  display:flex;
  flex-direction: row;
}
.lwvrep_sidebar{
  font-size: calc(15px + .7vw);
  width: max-content;
  display:flex;
  flex-direction: row;
}
.lwvrep_channels{
  display:flex;
  flex-direction: row;
}
#lwvrep_closed {
  display: none;
  max-height: fit-content;
}
.lwvrep_icon{
  float:left;
}
.lwvrep_photo_wrapper{
  display: flex;
  width:100%;
  justify-content: space-between;
  align-content: center;
}
.lwvrep_photo_wrapper > img{
  display: flex;
  max-width:15vh;
  justify-content: space-between;
  align-content: center;
}

.lwvrep_contact_wrapper{
  display: flex;
  width:100%;
  justify-content: space-between;
}
.lwvrep_contact_wrapper > a{
  display: flex;
}

.lwvrep_Twitter{
  color: #1DA1F2;
}
.lwvrep_YouTube{
 color: #FF0000;
}
.lwvrep_Facebook{
  color: #4267B2;
}